@charset "utf-8";
/* 새글 스킨 (latest)*/
.lt_gal{position:relative; width:95%}
.lt_gal .lt_title{display: block; font-size: 1.833em;margin-bottom: 22px; margin-left: 20px;}
.lt_gal li{border:1px solid #eee;position:relative;padding-left:143px;margin-top:12px;}
.lt_gal li a.lt_tit{display:block;font-size:1.167em;padding:15px 10px 8px;font-weight:bold;text-overflow: ellipsis;  overflow: hidden;  white-space: nowrap;}
.lt_gal li .lt_detail{padding:0 10px;line-height:18px;overflow:hidden;height:37px;color:#8e8e8e}
.lt_gal li .lt_image{position:absolute;top:0;left:0;}
.lt_more a{position:absolute;top:0;right:9px;background:url(img/btn_more.gif) no-repeat;width:28px;height:35px;text-indent:-999px;overflow:hidden;display:inline-block}
.lt_gal li .lt_image .no_img{text-align:center;display:block;line-height:89px;vertical-align:middle;text-transform:uppercase;font-size:1.3em;font-weight:bold;color:#bbb;background:#eee}
.lt_gal li.no_bd{padding:40px 0;text-align:center;color:#999;background:none}
