@charset "utf-8";
/* SIR 지운아빠 */

/* ### 기본 스타일 커스터마이징 시작 ### */

/* 게시판 버튼 */
/* 목록 버튼 */
#bo_gall a.btn_b01 {}
#bo_gall a.btn_b01:focus, #bo_gall a.btn_b01:hover {}
#bo_gall a.btn_b02 {}
#bo_gall a.btn_b02:focus, #bo_gall a.btn_b02:hover {}
#bo_gall a.btn_admin {} /* 관리자 전용 버튼 */
#bo_gall a.btn_admin:focus, #bo_gall .btn_admin:hover {}

/* 읽기 버튼 */
#bo_v a.btn_b01 {padding:8px;border:0;background:#eee;color:#555;border-radius:3px; text-decoration:none; vertical-align:middle;}
#bo_v a.btn_b01:hover {background:#999;color:#fff}
#bo_v a.btn_b02 {border-radius:3px;background:#3c95d5;border:1px solid #3c95d5;padding:7px}
#bo_v a.btn_b02:focus, #bo_v a.btn_b02:hover {background:#0071c2}
#bo_v a.btn_admin {border-radius:3px;border:none;background:red;padding:8px;color:#fff} /* 관리자 전용 버튼 */
#bo_v a.btn_admin:focus, #bo_v a.btn_admin:hover {}

/* 쓰기 버튼 */
#bo_w .btn_confirm {margin: 0 0 30px } /* 서식단계 진행 */
#bo_w .btn_submit {border-radius:3px;background:#3c95d5;border:1px solid #3c95d5;padding:10px 20px;font-size:1.083em}
#bo_w .btn_submit:hover{background:#0071c2}
#bo_w button.btn_submit {}
#bo_w fieldset .btn_submit {}
#bo_w .btn_cancel {border-radius:3px;padding:10px 20px;border:1px solid #3c95d5;color:#3c95d5;font-size:1.083em;background:#fff}
#bo_w button.btn_cancel {}
#bo_w .btn_cancel:focus, #bo_w .btn_cancel:hover {background:#eef7fd}
#bo_w a.btn_frmline, #bo_w button.btn_frmline {height:32px} /* 우편번호검색버튼 등 */
#bo_w button.btn_frmline {}


/* 기본 테이블 */
/* 읽기 내 테이블 */
#bo_v .tbl_head01 {}
#bo_v .tbl_head01 caption {}
#bo_v .tbl_head01 thead th {}
#bo_v .tbl_head01 thead a {}
#bo_v .tbl_head01 thead th input {} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
#bo_v .tbl_head01 tfoot th {}
#bo_v .tbl_head01 tfoot td {}
#bo_v .tbl_head01 tbody th {}
#bo_v .tbl_head01 td {}
#bo_v .tbl_head01 a {}
#bo_v td.empty_table {}

/* 쓰기 테이블 */
#bo_w .tbl_frm01 {margin:0 0 20px}
#bo_w .tbl_frm01 table {width:100%;border-collapse:collapse;border-spacing:0}
#bo_w .tbl_frm01 th {width:100px;padding:10px 13px;border:1px solid #c4c4c4;background:#ebebeb;color:#383838;text-align:left;font-size:1.083em;}
#bo_w .tbl_frm01 td {padding:7px 10px;border:1px solid #dfdfdf;font-size:1.083em;color:#666}
#bo_w .tbl_frm01 textarea, .frm_input {border:1px solid #dcdcdc;;color:#000;vertical-align:middle;line-height:2em}
#bo_w .tbl_frm01 textarea {padding:2px 2px 3px;width:98%;height:100px}
#bo_w .frm_input {height:30px;padding-left:10px;font-size:1.083em;color:#555}
#bo_w .tbl_frm01 a {text-decoration:none}
#bo_w .tbl_frm01 .frm_file {display:block;margin-bottom:5px;padding-left:0}
#bo_w .tbl_frm01 .frm_info {display:block;padding:0 0 5px;line-height:1.4em}

/* 필수입력 */
#bo_w .required, #bo_w textarea.required {}

#bo_w .cke_sc {}
#bo_w button.btn_cke_sc{}
#bo_w .cke_sc_def {}
#bo_w .cke_sc_def dl {}
#bo_w .cke_sc_def dl:after {}
#bo_w .cke_sc_def dt, #bo_w .cke_sc_def dd {}
#bo_w .cke_sc_def dt {}
#bo_w .cke_sc_def dd {}

/* ### 기본 스타일 커스터마이징 끝 ### */

/* 게시판 목록 */
#bo_cate h2 {width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#bo_cate ul {margin-bottom:10px;padding-left:1px;zoom:1}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_cate li {float:left;margin-bottom:-1px}
#bo_cate a {display:block;position:relative;margin-left:-1px;padding:6px 0 5px;width:90px;border:1px solid #ddd;background:#f7f7f7;color:#888;text-align:center;letter-spacing:-0.1em;line-height:1.2em;cursor:pointer}
#bo_cate a:focus, #bo_cate a:hover, #bo_cate a:active {text-decoration:none}
#bo_cate #bo_cate_on {z-index:2;border:1px solid #565e60;background:#fff;color:#565e60;font-weight:bold}

.td_subject img {margin-left:3px}

/* 갤러리 목록 */
#bo_gall h2 {margin:0;padding:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#bo_gall #gall_ul {margin:10px 0 0;padding:0;list-style:none;zoom:1}
#bo_gall #gall_ul:after {display:block;visibility:hidden;clear:both;content:""}
#bo_gall .gall_li {float:left;margin:0 10px 30px 0;border:1px solid #dadada;position:relative}

#bo_gall .gall_con {margin:0;padding:0;list-style:none}
#bo_gall .gall_con:after {display:block;visibility:hidden;clear:both;content:""}
#bo_gall .gall_con li {margin:0 0 4px;}
#bo_gall .gall_con li.gall_if{float:right;margin:0 10px 10px ;color:#999;display:inline-block}
#bo_gall .gall_con li.gall_if a{color:#999;margin-right:10px}
#bo_gall .gall_con .gall_subject {position:absolute;top:0;left:0;width:1px;text-indent:-999px;font-size:1px;overflow:hidden}

#bo_gall .gall_now .gall_text_href a {color:#3c95d5;}

#bo_gall .gall_href{border-bottom:1px solid #dadada;}
#bo_gall .gall_href a:link, #bo_gall .gall_href a:focus, #bo_gall .gall_href a:hover {text-decoration:none}
#bo_gall .gall_href strong, #bo_gall .gall_href span {display:inline-block;background:#f7f7f7;text-align:center;line-height:10em}
#bo_gall .gall_href a{text-align: center;display: table-cell;vertical-align: middle;text-transform: uppercase;font-size: 1.3em;font-weight: bold;color: #BBB;background: #EEE ;}

#bo_gall .gall_text_href {margin:10px !important;font-size:1.333em;width:220px;height:50px;overflow:hidden;line-height:25px}
#bo_gall .gall_text_href a {color:black;font-weight:bold}
#bo_gall .gall_text_href span {display:inline !important}
#bo_gall .gall_text_href img {margin:0 0 0 4px}
#bo_gall .chk_po{position:absolute;top:5px;left:5px;}

#fboardlist{clear:both;margin-bottom:50px}
/* 게시판 목록 공통 */
.bo_fx {position:relative}
.bo_fx:after {display:block;visibility:hidden;clear:both;content:""}
.bo_fx ul {margin:0;padding:0;list-style:none}
#bo_list_total {float:left;padding:5px 0 25px;color:#818181}
.btn_bo_user {position:absolute;top:0;right:0;margin:0;padding:0;list-style:none}
.btn_bo_user li {float:left;margin-left:5px}
.btn_bo_adm {position:absolute;top:0;left:0}
.btn_bo_adm li {float:left;margin-right:5px}
.btn_bo_adm input {padding:8px;border:0;background:#eee;color:#555;border-radius:3px;text-decoration:none;vertical-align:middle}
.btn_bo_adm input:hover{background:#999;color:#fff}
.bo_notice td {background:#f7f7f2}
.bo_notice td a {font-weight:bold}
.td_num strong {color:#000}
.bo_cate_link {display:inline-block;margin:0 3px 0 0;padding:0 6px 0 0;border-right:1px solid #e7f1ed;color:#999 !important;font-weight:bold;text-decoration:none} /* 글제목줄 분류스타일 */
.bo_current {color:#e8180c}

#bo_sch {text-align:center;float:right;}
#bo_sch:after {display:block;visibility:hidden;clear:both;content:""}
#bo_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#bo_sch .frm_input{border:1px solid #dcdcdc;height:30px;line-height:30px;border-radius:5px 0 0 5px;padding-left:5px;width:180px;float:left;background-color:#fff !important;border-right:none;font-size:1.083em}
#bo_sch .btn_submit{float:left;background:#3e3c52;border-radius:0 5px 5px 0;height:32px;padding : 0 10px;border:1px solid #3e3c52;letter-spacing:0.05em;font-weight:bold;border-left:0}

#bo_gall li.empty_list {padding:85px 0;text-align:center}

/* 게시판 쓰기 */
#char_count_desc {display:block;margin:0 0 5px;padding:0}
#char_count_wrap {margin:5px 0 0;text-align:right}
#char_count {font-weight:bold}

#autosave_wrapper {position:relative}
#autosave_pop {display:none;z-index:10;position:absolute;top:34px;left:0;padding:8px;width:400px;height:auto !important;height:180px;max-height:180px;border:1px solid #565656;background:#fff;overflow-y:scroll}
html.no-overflowscrolling #autosave_pop {height:auto;max-height:10000px !important} /* overflow 미지원 기기 대응 */
#autosave_pop strong {position:absolute;font-size:0;line-height:0;overflow:hidden}
#autosave_pop div {text-align:right}
#autosave_pop button {margin:0;padding:0;border:0;background:transparent}
#autosave_pop ul {margin:10px 0;padding:0;border-top:1px solid #e9e9e9;list-style:none}
#autosave_pop li {padding:8px 5px;border-bottom:1px solid #e9e9e9;zoom:1}
#autosave_pop li:after {display:block;visibility:hidden;clear:both;content:""}
#autosave_pop a {display:block;float:left}
#autosave_pop span {display:block;float:right}
.autosave_close {cursor:pointer}
.autosave_content {display:none}

/* 게시판 읽기 */
#bo_v {margin:20px 0;padding-bottom:20px}

#bo_v_table {position:absolute;top:0;right:16px;margin:0;padding:0 5px;height:25px;background:#ff3061;color:#fff;font-weight:bold;line-height:2.2em}

#bo_v_title {padding:15px 20px ;color:#444;font-size:1.2em;background:#ebebeb;border:1px solid #c4c4c4}

#bo_v_if{padding:15px 20px 10px;border:1px solid #dfdfdf;border-top:none}
#bo_v_info {padding-bottom:5px}
#bo_v_info:after{display:block;visibility:hidden;clear:both;content:""}
#bo_v_info h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_info strong {display:inline-block;margin:0 10px 0 5px;font-weight:normal;color:#444}
#bo_v_info .sv_member,#bo_v_info .sv_guest,#bo_v_info .member,#bo_v_info .guest {font-weight:bold;}
#bo_v_info .if_r{float:right;color:#949494}
#bo_v_info .if_r strong{color:#949494;margin:0 5px}

#bo_v_file {}
#bo_v_file h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_file ul {margin:0;padding:0;list-style:none}
#bo_v_file li {padding:0 10px;border-bottom:1px solid #eee;background:#fafafa}
#bo_v_file li span{color:#999}
#bo_v_file a {display:inline-block;padding:8px 0 7px;color:#000;word-wrap:break-word}
#bo_v_file a:focus, #bo_v_file a:hover, #bo_v_file a:active {text-decoration:none}
#bo_v_file img {float:left;margin:0 10px 0 0}
.bo_v_file_cnt {display:inline-block;margin:0 0 3px 16px}

#bo_v_link {}
#bo_v_link h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_link ul {margin:0;padding:0;list-style:none}
#bo_v_link li {padding:0 10px;border-bottom:1px solid #eee;background:#fafafa}
#bo_v_link li span{color:#999}
#bo_v_link a {display:inline-block;padding:8px 0 7px;color:#000;word-wrap:break-word}
#bo_v_link a:focus, #bo_v_link a:hover, #bo_v_link a:active {text-decoration:none}
#bo_v_link img {float:left;margin:0 10px 0 0}
.bo_v_link_cnt {display:inline-block;margin:0 0 3px 16px}

#bo_v_top {margin:0;padding:10px 0;zoom:1}
#bo_v_top:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_top h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_top ul {margin:0;padding:0;list-style:none}

#bo_v_bot {zoom:1}
#bo_v_bot:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_bot h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_bot ul {margin:0;padding:0;list-style:none}

.bo_v_nb {float:left}
.bo_v_nb li {float:left;margin-right:5px}
.bo_v_com {float:right}
.bo_v_com li {float:left;margin-left:5px}

#bo_v_atc {min-height:200px;height:auto !important;height:200px;padding:20px;border:1px solid #dfdfdf;margin-bottom:10px}
#bo_v_atc_title {position:absolute;font-size:0;line-height:0;overflow:hidden}

#bo_v_img {margin:0 0 10px;width:100%;overflow:hidden;zoom:1}
#bo_v_img:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_img img {margin-bottom:20px;max-width:100%;height:auto}

#bo_v_con {margin-bottom:30px;width:100%;line-height:1.7em;word-break:break-all;overflow:hidden}
#bo_v_con a {color:#000;text-decoration:underline}
#bo_v_con img {max-width:100%;height:auto}

#bo_v_act {margin-bottom:30px;text-align:center}
#bo_v_act .bo_v_act_gng {position:relative}
#bo_v_act a {margin-right:5px;vertical-align:middle}
#bo_v_act strong {color:#ff3061}
#bo_v_act_good, #bo_v_act_nogood {display:none;position:absolute;top:31px;left:0;padding:10px 0;width:165px;background:#ff3061;color:#fff;text-align:center}
#bo_v_act span{display:inline-block;  padding: 8px;  border: 0;  background: #eee;  color: #555;  border-radius: 3px;  text-decoration: none;  vertical-align: middle;  margin-right: 5px}
#bo_v_act span:hover{background:#999;color:#fff}
#bo_v_act span:hover a{color:#fff}

#bo_v_sns {margin:0 0 20px;padding:0;list-style:none;zoom:1}
#bo_v_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_sns li {float:left;margin:0 5px 0 0}


/* 게시판 댓글 */
#bo_vc {margin:0 ;padding:20px 20px ;border:1px solid #dfdfdf;background:#fff;border-bottom:0}
#bo_vc h2 {margin-bottom:10px;position:absolute;top:0;left:0;width:0;height:0;font-size:0;text-indent:-99999;overflow:hidden}
#bo_vc article {padding:10px 0 20px ;border-bottom:1px dotted #ccc}

#bo_vc header {position:relative;padding:0 0 5px;color:#949494}
#bo_vc header .icon_reply {position:absolute;top:15px;left:-20px}
#bo_vc .sv_wrap {margin-right:15px}
#bo_vc .member, #bo_vc .guest, #bo_vc .sv_member, #bo_vc .sv_guest {font-weight:bold;border-right:1px solid #ccc;padding:0 10px 0 0;color:#111}
.bo_vc_hdinfo {display:inline-block;margin:0 15px 0 5px}
#bo_vc h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc a {color:#000;text-decoration:none}
#bo_vc p {padding:0 0 5px;line-height:1.8em;color:#555}
#bo_vc p a {text-decoration:underline}
#bo_vc p a.s_cmt {text-decoration:none}
#bo_vc_empty {margin:0;padding:20px !important;text-align:center;font-size:1.083em;color:#999}
#bo_vc #bo_vc_winfo {float:left}
#bo_vc footer {zoom:1}
#bo_vc footer:after {display:block;visibility:hidden;clear:both;content:""}

.bo_vc_act {float:right;margin:0;list-style:none;zoom:1}
.bo_vc_act:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_act li {float:left;margin-left:5px;padding:5px;border:1px solid #ddd;background:#fafafa}
.bo_vc_act li a{color:#666 !important}

#bo_vc_w {position:relative;margin:0 0 10px;padding:0 0 10px;}
#bo_vc_w h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc_w #char_cnt {display:block;margin:0 0 5px}

#bo_vc_sns {margin:0;padding:0;list-style:none;zoom:1}
#bo_vc_sns:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc_sns li {float:left;margin:0 20px 0 0}
#bo_vc_sns input {margin:0 0 0 5px}

.tbl_cmt table {background:#ebebeb;border:1px solid #c4c4c4}
.tbl_cmt table th{text-align:left;padding-left:20px;width:80px;color:#444;}
.tbl_cmt table td{position:relative;padding:10px 0 0}
.tbl_cmt .frm_input{border:1px solid #c4c4c4;background-color:#fff !important;height:35px;font-size:1.083em;width:120px;padding-left:5px}
.tbl_cmt textarea{border:1px solid #c4c4c4;background-color:#fff !important;width:745px;height:50px;resize:none;overflow:auto;padding:10px}
.cmt_scr{padding-bottom:10px}
.cmt_scr #wr_secret{margin-right:3px;}
.tbl_cmt .btn_submit{position:absolute;top:10px;right:20px;height:72px;width:100px;background:#3c95d5;border-radius:5px;font-size:1.2em;font-weight:bold}
.tbl_cmt #captcha #captcha_img,.tbl_cmt #captcha #captcha_key{border:1px solid #C4C4C4;}
.tbl_cmt #captcha #captcha_info{font-weight:normal;color:#888}
