@charset "utf-8";
/* SIR 지운아빠 */

/* 최근게시물 스킨 (new) */
#new_sch {margin-bottom:10px;text-align:right}
#new_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#new_sch p {padding:5px 0 0;font-size:0.95em;text-align:right;letter-spacing:-0.1em;clear:both}
#new_sch {text-align:center;float:right;}
#new_sch:after {display:block;visibility:hidden;clear:both;content:""}
#new_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#new_sch .frm_input{border:1px solid #dcdcdc;height:30px;line-height:30px;border-radius:5px 0 0 5px;padding-left:5px;width:180px;float:left;background-color:#fff !important;border-right:none;font-size:1.083em}
#new_sch .btn_submit{float:left;background:#3e3c52;border-radius:0 5px 5px 0;height:32px;padding : 0 10px;border:1px solid #3e3c52;letter-spacing:0.05em;font-weight:bold;border-left:0}

/* 테이블 */
.tbl_head01 {margin:0 0 10px}
.tbl_head01 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head01 thead th {padding:17px 0;border:1px solid #c4c4c4;background:#ebebeb;color:#383838;text-align:center;font-size:1.083em}
.tbl_head01 thead a {color:#383838}
.tbl_head01 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 tr:hover{background:#fafafa}
.tbl_head01 td {border:1px solid #dfdfdf;padding:17px 5px;font-size:1.083em;color:#666}
.tbl_head01 a {color:#666}